.NodeListDiv {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
}

.NodeListDiv li:first-child input{
    font-weight: 700;
    font-size: 22px;
}

.NodeListUl input {
    border: none;
}

.NodeListUl input:focus {
    outline: none;
}

