.NodeListDiv {
    left: 0; 
    top: 0;
    padding-top: 80px; 
    max-width: 345px;
    height: 100%;
    margin: 0 auto; 
}


.editable {
    background-color: lightgrey;
    width: inherit;
}

.editable:focus {
    outline: none;

}

#addNode {
    color:rgb(42, 49, 53);
    border-color: none;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    margin-left: 22px;
}

#addNode:hover {
    background-color: lightgray;
}

svg { 
    height: 19px; 
    width: 20px;

    }

.svgContainer {
        padding: 3px; 
        min-height: 19px;
        width: 100%;
        display: flex;
    }

path {
    fill: rgb(203, 206, 208);
}

circle {
    fill: rgb(42, 49, 53);
}

.bullet {
        height: 20px;
        border-radius: 28px;
        padding: 1.5px 0 0 1.5px;
        margin-right: 8px;
    }

.bullet:hover {
    background-color: rgb(203, 206, 208);
}


.sublist {
    margin-left: 33px;
    list-style: none;
    display: block;
    border-left: rgb(203, 206, 208) 1px solid;
    padding-left: 10px;

}

.focusTitle {
    font-weight: 900;
    font-size: 24px;
}