.NodeListDiv {
    display: flex;    
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
}


.NodeListItem {
    display: flex;
    font-size: 16px;
    align-items: flex-start;
}

.sublist {
    margin-left: 30px;
}

span:focus{
    outline: none;
}

.newNodeLi {
    display: none;
}

#addNode {
    color:rgb(42, 49, 53);
    border-radius: 20px;
    width: 25px;
    float:left;
}
#addNode:hover {
    background-color: lightgray;
}

svg { height: 19px; width: 20px;}

path {
    fill: rgb(203, 206, 208);
    display: block;
}

circle {
    fill: rgb(42, 49, 53);
}

.svgContainer {
    display: flex; 
    align-items: center; 
    justify-content: left;
}