.NodeListDiv {
    left: 0; 
    top: 0;
    padding-top: 80px; 
    max-width: 375px;
    height: 100%;
    margin: 0 auto; 
}


.editable {
    font-size: 16px;
    width: inherit;

}

.editable:focus {
    outline: none;

}


#addNode {
    color:rgb(42, 49, 53);
    border-color: none;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    margin-left: 53px;
}

#addNode:hover {
    background-color: lightgray;
}

svg { 
    height: 19px; 
    width: 20px;
    padding-top: 1.5px;
    z-index: 0;
    }

.svgContainer {
        padding: 3px; 
        min-height: 19px;
        width: 100%;
        display: flex;
    }

path {
    padding-top:1px;
    fill: rgb(203, 206, 208);
}

circle {
        fill: rgb(42, 49, 53);
}

.tooltipCircles {
        border-radius: 28px;
        margin-right: 8px;
        padding:2px;
    }

.ttcircle {
    fill: white;
}

.tooltipCircles:hover {
        background-color: rgb(203, 206, 208);
}

.tooltipCircles:hover > .ttcircle{
        fill: rgb(42, 49, 53);
}

.bullet {
        height: 20px;
        border-radius: 28px;
        padding: 1.5px 0 0 1.5px;
        margin-right: 8px;
    }

.bullet:hover {
    background-color: rgb(203, 206, 208);
}

.sublist {
    margin-left: 66px;
    list-style: none;
    display: block;
    border-left: rgb(203, 206, 208) 1px solid;
}

.focusTitle {
    font-weight: 900;
    font-size: 24px;
}

.tooltipDiv {
    position: relative;
}

#tooltip li {
    line-height: 1.5;
}

.tt-list {
    border-top: lightgrey 1px solid;
    padding: 10px;
}

.tt-wrapper {
    position: absolute;
    background-color: #fffefa;
    border: 1px solid rgb(203, 206, 208);
    border-radius: 6px;
    filter: drop-shadow(8px 8px 10px rgb(203, 206, 208));
    box-sizing: border-box;
    width: 145px;
    height: 300px;
    margin-left: -30px;
    margin-top: 25px;
}