.sessionForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8%;
}

.sessionForm .logo {
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
}

label {
    font-size: 13px;
    padding: 10px;
}
input,
.sessionButton {
    border: solid 1px#b1bfca;
    min-height: 24px;
    border-radius: 4px;
    width: 240px;
    margin-top: 3px;
}

.sessionButton {
    padding: 9px;
    border-radius: 16px;
    border-color:#d6cbc7;
    background-color:#d6cbc7;
    font-weight: 600;
}


.sessionButton:hover {
    background-color: #a59a96;
}

.errorSpan  {
    padding: 10px;
    color: red;
    font-size: 12px;
}

// .sideBar {
//     display: block;
//     height: 100%;
//     margin-top:0;
//     margin-left:0;
//     width:220px;
//     background-color: lightgrey;
// }