@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

html {
    font-family: 'Work Sans',
    sans-serif;
    color:rgb(42, 49, 53);
}

body {
    background-color: #fffefa;
    font-size: 13px ;
}

input {
    background-color: #FFFFFF;
    font-size: 13px;

}

.icons {
    display: flex;
    justify-content: space-around;
    width: 150px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 20px;
}

.icons a {
     color: rgb(42, 49, 53);
}

.icons a:hover {
    color: lightgray;
}

a {
    color: rgb(42, 49, 53);
}

.logoContainer {
    font-size: 24px;
    font-weight: 900px;
    color:rgb(42, 49, 53);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
}

#logolink, #demoLogin {
    text-decoration: none;
}

.logoImg {
    height: 40px;
    padding: 2px;
    padding-left: 20px; 
}

.title {
    padding-left: 15px;
}
h3 { 
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    }

header {
    display: flex; 
    justify-content: space-between;
    height: 50px;
    box-sizing: border-box;
}


.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // padding-top: 5px;
    // box-sizing: border-box;
    border-bottom: rgb(218, 231, 240) 1px solid;
}

.navBarLeft {
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
}

.showCompleteToggle {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}


.showCompleteToggle input,
.showCompleteToggle > label {
    width: fit-content;
    padding: 15px;
    box-sizing: border-box;
}



.navBarLeft path {
    fill:none;
    border: 1px solid rgb(203, 206, 208);
    opacity: .5;
}

.navBarLeft circle {
    fill: none;
    stroke: grey;
}

.menu-icon {
    margin-left: 20px;
    height: 16px;
}


.headerButton {
    display: inline-block;
    border: none;
    background-color:#eeeeee;
    border-radius: 22px;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    margin: 20px;
}

.headerButton:hover {
        background-color: #bcbcbc;
}

.searchIcon,
.gearIcon,
.menu-icon {
    padding: 8px 8px 6px 8px;
    border-radius: 22px;
    border: 1px solid rgb(220, 224, 226);
    margin-right: 10px;
}

.gearIcon {
    margin-right: 20px;
}


.menu-icon {
    padding: 10px 8px 10px 8px;
    border-radius: 24px;
    border: 1px solid rgb(220, 224, 226);
    margin-right: 10px;
}

.searchIcon:hover,
.gearIcon:hover,
.menu-icon:hover {
    background-color: rgb(220, 224, 226);
}


.settingsNav {
    position: absolute;
    width: 175px;
    top: 48px;
    right:8px;
    height: 300px;
    background-color: #fffefa;
    border: 1px solid rgb(203, 206, 208);
    border-radius: 6px;
    filter: drop-shadow(8px 8px 10px rgb(203, 206, 208));
    box-sizing: border-box;
}

.settingsNav li { line-height: 1.5;}

.dd-list {
    border-top: lightgrey 1px solid;
    padding: 10px;}

.settingsNav > :first-child {
    border-top: none;
}

.userEmail {
    margin-left: 8px;
    color: grey;
}


.sidebar-undocked {
    display: block;
    position: relative;
    width: 325px;
    left: -325px;
    top: 0px;
    height: 1500%;
    background-color: #fffefa;
    border-right: 1px solid rgb(203, 206, 208);
    border-radius: 6px;
    filter: drop-shadow(8px 8px 10px rgb(203, 206, 208));
    box-sizing: border-box;
    z-index: 5;
        transform: translateX(-100%);
        transition: opacity 600ms ease-in,
        transform 600ms ease-in;

}

.sidebar-docked {
        display: block;
        position: relative;
        width: 325px;
        left: 0px;
        top: 0px;
        height: 1500%;
        background-color: #fffefa;
        border-right: 1px solid rgb(203, 206, 208);
        border-radius: 6px;
        filter: drop-shadow(8px 8px 10px rgb(203, 206, 208));
        box-sizing: border-box;
        z-index: 5;
        
}

.sidebar-docked svg:first-child{
    // transform: rotate(-135deg);
    float: right;
}

.sidebar-expanded {
         display: block;
         position: absolute;
         width: 225px;
         left: -225px;
         top: 56px;
         height: 87%;
         background-color: #fffefa;
         border: 1px solid rgb(203, 206, 208);
         border-radius: 6px;
         filter: drop-shadow(8px 8px 10px rgb(203, 206, 208));
         box-sizing: border-box;
         z-index: 5;
              transform: translateX(100%);
              transition: opacity 600ms ease-in,
              transform 600ms ease-in;
}


.sidebar-expanded svg:first-child {
    float: right;
    transform: rotate(135deg);

}


.SidebarUl li { padding: 5px; }
.sidebarItem:hover {
    background-color: rgb(232, 235, 237);
}

.SidebarItem { 
    display: flex;
    align-items: center;
}


.sidebarSublist {
    margin-left: 30px;
    list-style: none;
    display: block;
}

.settings-enter {
    opacity: 0.01;
    transform: scale(.9);
}

.settings-enter.settings-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.settings-leave {
    opacity: 1;
    transform: translateY(0);
}

.settings-leave.settings-leave-active {
    opacity: 0.01;
    transform: scale(.9);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.pagination span{
    font-size: 13px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
}

.searchInput{
    position: relative;
    height: 30px;
    border: 1px solid rgb(232, 235, 237);
    border-radius: 24px;
    margin-right:15px;
    padding-right:8px;
    margin-top: 0px;
}

.searchInput:focus{
    border: 1px solid lightgrey;
    border-radius: 24px;
}


.search-enter {
    opacity: .1;
    transform: scale(.1);
    transform: translateX(100%);
}

.search-enter.search-enter-active {
    opacity: 1;
    transform: scale(2);
    transform: translateX(0%);
    transition: opacity 600ms ease-in, transform 600ms ease-in;
}

.search-leave {
    opacity: 1;
    transform: scale(1);
    transform: translateX(0%);
}

.search-leave.search-leave-active {
    opacity: .1;
    transform: translateX(100%);
    transition: opacity 600ms ease-in, transform 600ms ease-in;
}


.transformArrow {
     transform: rotate(135deg);
}


.toggle-container {
    height: 12px;
    width: fit-content;
    display:none;

}

.toggle {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 12px;
    background-color: lightgray;
    border-radius: 30px;
}

/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.5s;
}