@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

html {
    font-family: 'Work Sans',
    sans-serif;
    color: rgb(26, 25, 25);
}

body {
    background-color:#fffefa;
}


a { color: rgb(26, 25, 25)}


.logoContainer {
    font-size: 22px;
    font-weight: 800px;
    color: rgb(26, 25, 25);
    display: flex;
    justify-content: left;
    align-items: center;
}

.logoImg{
    height: 50px;
    padding-right: 6px;
}

h3 { 
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 15px;
    }

header {
    padding: 20px;
    display: flex; 
    justify-content: space-between;
}

.HeaderButton {
    border: none;
    background-color:#e3f2fd;
    border-radius: 16px;
    font-size: 11px; 
    font-weight: 700;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
}

.HeaderButton:hover {
        background-color: #b1bfca;
}


