@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

html {
    font-family: 'Work Sans',
    sans-serif;
    color:rgb(42, 49, 53);
}

body {
    background-color:#fffefa;
}

input {
    background-color: #fffefa;
}

a {
    color: rgb(42, 49, 53);
}


.logoContainer {
    font-size: 30px;
    font-weight: 800px;
    color:rgb(42, 49, 53);
    display: flex;
    justify-content: left;
    align-items: center;
}

.logoImg{
    height: 50px;
    padding-right: 6px;
}

h3 { 
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
    }

header {
    display: flex; 
    justify-content: space-between;
    height: 50px;

}

.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgb(203, 206, 208) 1px solid;
}

.navBarLeft {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navBarLeft path {
    fill:none;
    border: 1px solid rgb(203, 206, 208);
    opacity: .5;
}

.navBarLeft circle {
    fill: none;
    stroke: grey;
}

.menu-icon {
    margin-left: 20px;
    height: 16px;
}


.headerButton {
    display: inline-block;
    border: none;
    background-color:#e3f2fd;
    border-radius: 16px;
    font-size: 13px; 
    font-weight: 700;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
}

.headerButton:hover {
        background-color: #b1bfca;
}

.searchBar,
.gearIcon,
.menu-icon {
    padding: 8px 8px 6px 8px;
    border-radius: 22px;
    border: 1px solid rgb(220, 224, 226);
    margin-right: 10px;
}


.menu-icon {
    padding: 10px 8px 10px 8px;
    border-radius: 24px;
    border: 1px solid rgb(220, 224, 226);
    margin-right: 10px;
}

.searchBar:hover,
.gearIcon:hover,
.menu-icon:hover {
    background-color: rgb(220, 224, 226);
}






