@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

html {
    font-family: 'Work Sans',
    sans-serif;
    color:rgb(42, 49, 53);
}

body {
    background-color: #FFFFFF;
    font-size: 13px ;
}

input {
    background-color: #FFFFFF;
    font-size: 13px;

}

a {
    color: rgb(42, 49, 53);
}

.logoContainer {
    font-size: 24px;
    font-weight: 900px;
    color:rgb(42, 49, 53);
    display: flex;
    justify-content: left;
    align-items: center;
}

#logolink, #demoLogin {
    text-decoration: none;
}

.logoImg{
    height: 30px;
    padding: 8px;
}


h3 { 
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    }

header {
    display: flex; 
    justify-content: space-between;
    height: 50px;
    box-sizing: border-box;
}


.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgb(203, 206, 208) 1px solid;
}

.navBarLeft {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navBarLeft path {
    fill:none;
    border: 1px solid rgb(203, 206, 208);
    opacity: .5;
}

.navBarLeft circle {
    fill: none;
    stroke: grey;
}

.menu-icon {
    margin-left: 20px;
    height: 16px;
}


.headerButton {
    display: inline-block;
    border: none;
    background-color:#eeeeee;
    border-radius: 22px;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    margin-right: 8px;
    margin-top:8px;
}

.headerButton:hover {
        background-color: #bcbcbc;
}

.searchBar,
.gearIcon,
.menu-icon {
    padding: 8px 8px 6px 8px;
    border-radius: 22px;
    border: 1px solid rgb(220, 224, 226);
    margin-right: 10px;
}


.menu-icon {
    padding: 10px 8px 10px 8px;
    border-radius: 24px;
    border: 1px solid rgb(220, 224, 226);
    margin-right: 10px;
}

.searchBar:hover,
.gearIcon:hover,
.menu-icon:hover {
    background-color: rgb(220, 224, 226);
}


.settingsNav {
    position: absolute;
    width: 175px;
    top: 48px;
    right:8px;
    height: 300px;
    background-color: #fffefa;
    border: 1px solid rgb(203, 206, 208);
    border-radius: 6px;
    filter: drop-shadow(8px 8px 10px rgb(203, 206, 208));
    box-sizing: border-box;
}

.settingsNav li { line-height: 1.5;}

.dd-list {
    border-top: lightgrey 1px solid;
    padding: 10px;}

.settingsNav > :first-child {
    border-top: none;
}

.userEmail {
    margin-left: 8px;
    color: grey;
}

.sidebar-   {
    display: none;

}

.sidebar-docked {
        display: block;
        position: relative;
        width: 325px;
        left: 0px;
        top:0;
        height: 1500%;
        background-color: #fffefa;
        border: 1px solid rgb(203, 206, 208);
        border-radius: 6px;
        filter: drop-shadow(8px 8px 10px rgb(203, 206, 208));
        box-sizing: border-box;
        z-index: 5;
}

.sidebar-expanded {
    display: block;
    position: absolute;
    width: 225px;
    left: 0px;
    top: 56px;
    height: 87%;
    background-color: #fffefa;
    border: 1px solid rgb(203, 206, 208);
    border-radius: 6px;
    filter: drop-shadow(8px 8px 10px rgb(203, 206, 208));
    box-sizing: border-box;
    z-index: 5;
}


.sidebarArrow {
    float: right;
    transform: rotate(135deg);
}


// .example-enter {
//     opacity: 0.01;
// }

// .example-enter.example-enter-active {
//     opacity: 1;
//     transition: opacity 500ms ease-in;
// }

// .example-leave {
//     opacity: 1;
// }

// .example-leave.example-leave-active {
//     opacity: 0.01;
//     transition: opacity 300ms ease-in;
// }